@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-on-surface;
    min-height: max(884px, 100dvh);
    font-family: var(--font-inter);
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass-vault {
  background: rgba(48, 51, 74, 0.4);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.input-glow:focus-within {
  box-shadow: 0 0 0 1px #f2b92f;
}

.tonal-layering {
    background: #11131b;
}

.custom-scrollbar::-webkit-scrollbar { 
  width: 6px;
  height: 8px; 
  display: block; 
} 

.custom-scrollbar::-webkit-scrollbar-track { 
  background: rgba(255, 255, 255, 0.05); 
  border-radius: 10px;
} 

.custom-scrollbar::-webkit-scrollbar-thumb { 
  background: rgba(242, 185, 47, 0.3); 
  border-radius: 10px; 
  border: 1px solid rgba(17, 19, 27, 0.5);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover { 
  background: rgba(242, 185, 47, 0.6); 
}

.custom-scrollbar-light::-webkit-scrollbar { 
  height: 6px; 
  display: block; 
} 

.custom-scrollbar-light::-webkit-scrollbar-track { 
  background: rgba(0, 0, 0, 0.08); 
  border-radius: 10px;
} 

.custom-scrollbar-light::-webkit-scrollbar-thumb { 
  background: #f7be34; 
  border-radius: 10px; 
  border: 1px solid rgba(0,0,0,0.05);
}

